body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100vh;
    background-color: rgb(185, 185, 185);
}

.text{
    margin: 0;
    font-size: 3em;
    color: black;
}

.text-heading{
    margin: 70vh 0 0 0;
    font-size: 2.5em;
    transition: all 0.4s;
    cursor: pointer;
}

.text-footer{
    font-size: 5em;
    transition: all 0.4s;
    cursor: pointer;
}

.flex-c{
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: center;
    align-items: center;
}

.flex-vh{
    height: 100vh;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(219, 219, 219);
}

/* .container-main{
    padding: 100px 0 0 80px;
} */



.image{
    background-image: url(./image/1.jfif);
    width: 680px;
    height: 450px;
    transform: translateX(-100px);
    transition: all 0.7s;
}

.flex-r{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: end;
    align-items: end;
}


.footer{
    height: 100vh;
    width: 100%;
    background-color: rgb(185, 185, 185);
}

.text-heading:hover, .text-footer:hover{
    color: orange;
}

.text-main{
    /* border-bottom: 5px solid red; */
    width: 400px;
}

.pt80 {
    padding-top: 80px;
}

.container-text{
    width: 450px;
    transform: translate(100px);
    transition: all 0.7s;
}

.border{
    width: 270px;
    border-bottom: 5px solid red;
    height: 1px;
    margin-top: 20px;
    transition: all 0.7s;
}